@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

header nav {
    margin-right: 20px;
    text-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.3);
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-left: 24px;
}

header nav ul li a {
    text-decoration: none;
    color: #00B5AD;
    font-weight: bold;
    font-size: 20px;
}

header nav ul li a:hover {
    color: #00E0C6;
}

header {
    width: 100%;
    padding: 20px 0;
}

body {
    /* background-color: #2d3033; */
    background: repeating-conic-gradient(from 45deg, rgba(0, 0, 0, 0.12) 0% 25%, rgba(38, 43, 48, 0.99) 0% 50%);
    background-size: 100px 100px;
    background-color: rgba(38, 43, 48, 0.99);
    color: #00b5ad;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px 20px;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.3);
}

.profile-photo {
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #00B5AD; 
    margin: 50px auto 0 auto;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.9);
}

.nyc-skyline {
    width: 100%;
    max-width: 800px;
    margin: 20px auto 0 auto;
    display: block;
}

section {
    margin-top: 55px;
}

section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #00B5AD;
    display: inline-block;
}
#about {
    margin-top: 75px;
    margin-bottom: 20px;
    padding: 0 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.about-photo {
    width: 400px;
    height: auto; 
    border-radius: 10px; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
}

#about p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    padding: 10px;
    margin-bottom: 25px;
    text-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.3);
}

#skills-experience {
    margin-top: 20px;
    margin-bottom: 150px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#projects {
    margin-top: 100px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#projects h2 {
    margin-bottom: 50px; 
}

.project-box{
    border: 2px solid #00B5AD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.project-box h3 {
    margin-top: 0;
}

#contact {
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.contact-horizontal {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.3);
}

.contact-horizontal li {
    margin: 0 25px;
}

.icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 8px;
}

#contact {
    margin-bottom: 60px;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact ul li {
    margin-bottom: 10px;
}

#contact ul li a {
    text-decoration: none;
    color: #00B5AD;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#contact ul li a:hover {
    color: #00E0C6;
}

footer { 
    text-align: left;
    padding-left: 20px; 
    margin-bottom: 10px;
}

.small-footer p{
    font-size: 12px; 
    color: #00B5AD; 
}

