@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

header nav {
    margin-right: 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-left: 24px;
}

header nav ul li a {
    text-decoration: none;
    color: #00B5AD;
    font-weight: bold;
    font-size: 20px;
}

header {
    width: 100%;
    padding: 20px 0;
}

body {
    background-color: #2d3033;
    color: #00B5AD;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px 20px;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-photo {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #00B5AD; 
    margin: 50px auto 0 auto;
}

.nyc-skyline {
    width: 100%;
    max-width: 800px;
    margin: 20px auto 0 auto;
    display: block;
}

section {
    margin-top: 55px;
}

.contact-horizontal {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-horizontal li {
    margin: 0 20px;
}

.icon {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    margin-right: 8px;
}

#contact {
    margin-bottom: 60px;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact ul li {
    margin-bottom: 10px;
}

#contact ul li a {
    text-decoration: none;
    color: #00B5AD;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#contact ul li a:hover {
    color: #00E0C6;
}

footer { 
    text-align: left;
    padding-left: 20px; 
    margin-bottom: 10px;
}

.small-footer p{
    font-size: 12px; 
    color: #00B5AD; 
}